* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: column;
}
#playGrid {
	margin: 5vw auto;
	width: 50vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: lightgray;
}

.pixel {
	/*max-width: 150px;
	max-height: 150px;*/
	border: 1px solid gray;
	aspect-ratio: 1 / 1;
}

.coloured {
	background-color: black;
}

#frame {
	display: flex;
	width: 60vw;
	height: 60vw;
	background-color: red;
	border-radius: 15px;
	margin: 0 auto;
	box-shadow: 25px 15px 80px black;
}
header {
	text-align: center;
	margin: 5vw;
}
header h1 {
	font-size: 8vw;
}

header h2 {
	font-size: 6vw;
}

#buttonsContainer {
	display: flex;
}
button {
	padding: 15px;
	font-size: 3vw;
	margin: 5vw auto;
}
